<header id="header-wrap">
    <!-- 导航栏开始 -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo top-nav-collapse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                </button>
                <a href="https://www.chairc.cn" class="navbar-brand"><img
                        src="" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                    <li class="nav-item">
                        <a class="nav-link" href="/">个人</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="onepage-nev mobile-menu">
            <li>
                <a href="/chatroom">聊天室</a>
            </li>
        </ul>
    </nav>
</header>